
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

html {
  padding: 0px 0px 50px 0px;
  margin: 0px;
  background-color: #141414;
  color:white;
}

input {
  height: 1.3em;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: black;
  color: grey;
  width: 100%;
  max-width: 40em;
  padding-left: 0.4em;
}

/*Navbar CSS
====================================================*/
.navbar {
  height: 3em;
  width: 100%;
  position: fixed;
  padding: 0;
  display: inline-block;
  color:red;
  background-color: #141414;
  z-index: 100;
}

.navLink {
  color:red;
  text-decoration: none;
  margin: 0em, 1em;
  padding: 0.8em;
}

.titleLink {
  color:red;
  text-decoration: none;
  margin: 0em, 1em;
}

.title {
  float: left;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0.2em 0.5em;
}

.navbarButtons {
  float: right;
  height: 100%;
  padding: 0em 1em;
  width: 40px;
  align-content: center;
  justify-content: center;
}

.navbarIcon {
  padding: 0;
  filter: invert(100%);
}

.navbarIcon:hover {
  filter: invert(50%);
}

.navbarButtons a {
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.searchBar {
  margin: 0.85em;
  width: 10em;
  float: right;
  color:grey;

}

.navbarLinks {
  float: left;
  padding: 0.9em 1em;
}

.navbarLinks a:hover {
  color: lightgrey;
}

.navbarSpacing {
  height: 45px;
}

/*Home CSS
=========================================*/
.home {
}

/*Movie Page CSS
========================================*/

.moviePage {
  color: white;
  position: fixed;
  padding: 1em 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 100%;
  overflow-y: scroll;
  height: 100%;
}

.moviePageContent {
  padding: 5% 5% 10% 5%;
  flex-grow: 2;
  max-width: 50%;
  max-height: 90%;
}

.moviePageContent h1 {
  font-size: 3em;
  padding-left: 0;
}

.moviePageContent h3 {
  font-style: none;
  font-style: italic;
}

.moviePageContent h4 {
  padding-top: 0;
}

.moviePageContent p {
  font-size: 1em;
  font-style: italic;
  border-radius: 1em;
  padding: 0.5em;
}

.movieThumbnail {
  margin-right: .5em;
  width:500px;
  max-width: 90%;
}

.movieThumbnail img {
  height:auto;
  width: inherit;
  flex-shrink: 1;
}

.genreTag {
  color: black;
  font-size: .8em;
  background-color: lightgreen;
  border-radius: 1em;
  padding: 0.4em 1em;
  margin: 0.2em;
}

.moviePageIconLink {
  max-width: 50px;
  display: inline;

}

.moviePageIcon {
  filter: invert(100%);
  max-width: 50px;
  margin: 2em 1em;
  padding: 0;
}

.moviePageIcon:hover {
  filter: invert(50%);
}
/*HireMe page CSS
=====================================*/

.hireMe {
  margin: 3em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hireMe img {
  margin: 2em 2em 2em 4em;
  height: 250px;
  -webkit-box-shadow: 2px 4px 42px -12px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 4px 42px -12px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 4px 42px -12px rgba(0, 0, 0, 0.7);
  border-radius: 250px 250px 250px 250px;
  -moz-border-radius: 250px 250px 250px 250px;
  -webkit-border-radius: 250px 250px 250px 250px;
  border: 0px solid #000000;
}

.about {
  margin: 3em;
  background-color: red;
  padding: 1em;
  flex-grow: 2;
  max-width: 50%;
  -webkit-box-shadow: 2px 4px 42px -12px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 4px 42px -12px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 4px 42px -12px rgba(0, 0, 0, 0.7);
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border: 0px solid #000000;
  height: 200px;
}

/*Stream CSS
================================================*/
.movieCarousel {
  height:auto;
  min-height: 173px;
  text-align: center;
  display: flex;
  flex: 1 1 500px;
  list-style: none;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  align-items: flex-center;
}

.streamCategory {
  margin-left: 1em;
}

ul {
  display: flex;
}


/*MovieCard CSS
============================================*/

.movieCard {
  height:98%;
  width: 100%;
  margin: 0px 20px;
  transition: all .2s ease-in-out;
  position: relative;

}

.movieCardGradient {
  height:100%;
  width:100%;
  display: inline-block;
  position: absolute;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.movieCardTitle {
  font-style: bold;
  position:absolute;
  bottom: .25em;
  left: .25em;
  color: lightgrey;
}

.movieCard:hover { 
  transform: scale(1.1);
  z-index: 999;
  overflow: visible;
}

.thumbnail {
  width:100%;
}

.thumbnail img {
}


/*BrowsePage CSS*
============================================*/

.BrowsePage {
  text-align: center;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  list-style: none;
  padding-right: 4em;
  margin: 0px;
  justify-content: space-around;
}

.category {
  text-align: left;
  padding-left: 1em;
  /*position: fixed;
  top: 2.5em;
*/  width: 100%;
}

.movieList {
  margin: 0em;
  flex: 1 1 100%;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  /*align-items: flex-start;*/


}

.movieList ul {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding:0;
}

/*Slider CSS

===================================*/


.slickSlider {
  min-height: 200px;
}


.slider {
  padding: 1em;
}

.sliderBox {
  margin: 3%;
  width:94%;
  height: ;
}

.sliderCard {
  padding-right: .3em;
}

